.multi-steps-container {
   height: 595px;
   width: 1000px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 12px;
   display: flex;
   color: hsl(213, 96%, 18%);
   .steps {
      background: url('../assets/images/bg-sidebar-desktop.svg');
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      height: 100%;
      width: 30%;
   }
   .form-container {
      padding: 50px 80px;

      button[type=submit] {
         border: none;
         font-size: 12px;
         padding: 13px 25px;
         border-radius: 7px;
         background-color: hsl(213, 96%, 18%);
         color: hsl(0, 0%, 100%);
         transition: .3s;
         cursor: pointer;
         &:hover {
            background-color: hsl(215, 90%, 35%);
         }
         &:disabled {
            opacity: .7;
            cursor: no-drop;
            &:hover {
               background-color: hsl(213, 96%, 18%);
            }
         }
      }
   }
}