@import './config.scss'; 

.multi-steps-container {
   height: 585px;
   width: 900px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 12px;
   display: flex;
   color: $primary_color;
   padding: 10px;
   .steps {
      background: url('../assets/images/bg-sidebar-desktop.svg');
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      width: 47%;
      height: 100%;
      overflow: hidden;
      border-radius: 12px;
   }
   .form-container {
      padding: 40px 80px 20px 80px;
      width: 100%;
      
      @include next_step;
   }
}