@import '../../pages-style/config.scss';

.step-four {
   position: relative;
   height: 100%;
   .order-container {
      .summary {
         border-radius: 8px;
         background-color: hsl(231, 100%, 99%);
         padding: 20px 20px 5px 20px;
         p {
            font-size: 14px;
         }
         .option-ordered {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $border_color;
            padding-bottom: 25px;
            .option {
               h4 {
                  font-size: 15px;
                  letter-spacing: 0.5px;
                  margin-bottom: 10px;
               }
               .change-option-link {
                  color: $secondary_color;
                  text-decoration: underline;
                  cursor: pointer;
               }
            }
         }
         .services-container {
            padding-top: 25px;
            .service {
               display: flex;
               justify-content: space-between;
               margin-bottom: 20px;
               .name {
                  color: $secondary_color;
               }
            }
         }
      }
   }
   .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 20px;
      p {
         color: $secondary_color;
         font-size: 14px;
      }
      h3 {
         font-size: 19px;
         color: $neutral;
      }
   }
   @include btn-container;
   .next-step {
      background-color: $neutral !important;
   }
}
